*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(180deg, #ffffff 0%, rgba(243, 241, 241, 0.864) 100%),url(pics/bg.jpg);
    background-attachment: fixed;
    z-index: -10;
    background-size: cover;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: forwards;
}

@keyframes backgroundScroll {
    from {background-position: 200px 0;}
    to {background-position: 0 0px;}
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}


  

/* ----------------SIDE-BAR---------------- */

.side-menu{
    text-align: center;
    padding-top: 3vh;
    position: fixed;
    background: #333;
    width: 23vw;
    z-index: 10;
    height: 130vh !important;
}

.logo{
    align-self: center;
    align-content: center;    
}

.logo a img{
    height: 4vw;
    width: auto;
}

/* -----------Profile---------- */

.profile{
    margin: 5vh auto;
}

div.avatar{
    text-align: center;
}

.side-menu .avatar img{
    text-align: center;
    height: 22vh;
    width: auto;
	border-radius:50%;
	border: 0.15vw solid #fff;
    box-shadow:0 0 0 4px #fff;
}

h2.username{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.5vw;
}

/* ---------side-nav-------- */

.side-menu ul.left-nav{
    text-align: left;
    margin: 5vh 3vw;
}


.side-menu li a{
    line-height: 6vh;
    transition: 0.5s;
}


.side-menu span{

    font-size:1em;
    margin-left: 10px;
    color: rgb(198, 198, 198);
}

.side-menu i{

    font-size:1em;
    margin-left: 20px;
    color: rgb(198, 198, 198);
}

.active span, .fa-group{
    color: #EB5757 !important;
}

/* ----------hover navlink--------- */

.side-menu li a:hover{

    background: #333;
    padding-left: 20px;
    color: white !important;
    
}

.left-nav li a span:hover {
    color: rgb(255, 255, 255) !important;
    text-decoration: underline;
    cursor: pointer;
  }

  .side-menu li a i:hover {
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
  }


/* ----------aboutus---------- */

.col-md-12{
    max-width: 80vw;
    margin: 2.5vh 5vw 3vh 25vw;
}


/* -----heading------ */

div.aboutus h1{
    font-weight: bold;
    letter-spacing: 0.2vw;
    font-size: 5vw;
    margin: 1vh auto;
    color: #EB5757 !important;
    text-align: center; 
}


/* ------intro----- */

div .jumbotron{
    background-color: transparent;
    padding: 2vh 3vw;
    margin: 3vh auto;
    margin-bottom: 0 !important;
    width: 65vw;
}

/*-------- IMAGES --------*/

.container{
    align-items: center !important;
    align-content: center !important;
    width: 70vw !important;
}

.gallery-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  
  .gallery-image img {
    width: 25vw;
    height: auto;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 2vh;
    height: auto;
    width: 25vw;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover {
    cursor: pointer;
  }

/* --------------MEDIA QUERY------------- */


@media (min-width: 1950px){
.container {
    max-width: 1245px !important;
}

.side-menu span{
    font-size:1.2em;
    margin-left: 10px;
}

.side-menu i{
    font-size:1.2em;
    margin-left: 20px;
}
.gallery-image {
   width: 1500px;  
  }

}

.jumbotron{
    font-size: 2.2vh;
}

@media (max-width: 1080px){
    
    .side-menu span{
        font-size:0.7em;
        margin-left: 10px;
    }
    
    .side-menu i{
        font-size:0.7em;
        margin-left: 20px;
    }

    .side-menu .avatar img{
        height: 12vh;
        width: auto;
        border: 0.15vw solid #fff;
        box-shadow:0 0 0 4px #fff;
    }

    .gallery-image img {
        width: 60vw !important;
        height: auto;
      }

      .img-box {
        box-sizing: content-box;
        margin: 10px;
        height: auto;
        width: 60vw;
      }
    
}


@media (max-width:850px){

    .side-menu a span{

        display: none;
    }

    .side-menu .profile{

        display: none;
    }

    .side-menu{

        width: 13vw;
    }

    .side-menu a i{
  
         display: block;
        line-height: 10vh;
        margin-left: 0;
        font-size: 4vh;         
    }

    .col-md-12, .col-sm-12{
        margin: 5vh 0 0 17vw ;
        padding: 0;
        width: 120vw;
    }
    
    .logo a img{
        margin-left: 1vw;
        height: 2.5vw;
        width: auto;
    }

    .aboutus span{
        font-size: 6vh;
        margin-bottom: 3vh;
    }

    .jumbotron{
        align-content: center !important;
        font-size: 1.8vh;
    }

    .container{
        align-content: center;
        padding: 0 !important;
        margin-left: 1vw !important;
    }

    div.gallery-image{
        margin-top: 0 !important;
        margin-bottom: 5vh;
    }

}

@media (max-width:620px){

    .side-menu{

        width: 12vw;
    }

    .side-menu a i{
        align-content: center !important;
        line-height: 10vh;
        margin-left: 0;
        font-size: 4vh;         
    }

    .col-12{
        margin: 5vh 0 0 17vw ;
        padding: 0;
        width: 120vw;
    }
    
    .logo a img{
        margin-left: 1vw;
        height: 3vw;
        width: auto;
    }

    .container{
        align-content: center;
        padding: 0 !important;
        margin-left: 1vw !important;
        margin-right: 1vw !important;
    }

    .aboutus span{
        font-size: 4vh;
        margin-bottom: 3vh;
    }

    .aboutus{
        margin-left: 3vw;
    }

    .jumbotron{
        font-size: 1.6vh;
    }

    
}


@media (max-width:450px){

    .aboutus{
        text-align: center !important;
        align-content: center !important;

    }
    .side-menu a i{
  
        display: block;
       line-height: 8vh;
       text-align: center;
       margin-left: 0;
       font-size: 6vw;         
   }

    .container{
        margin-left: 0.2vw !important;
        margin-right: 1vw !important;
    }

    .jumbotron{
        font-size: 1.4vh;
    }
}
  
  
  